<div>
  <label *ngIf="label" [htmlFor]="controlName" class="block text-sm font-medium text-gray-700 text-left">{{label}}<span
    *ngIf="!optional" [ngClass]="{'text-indigo-500': !hasError, 'text-red-600': hasError}">*</span></label>
  <div class="mt-1" [ngClass]="{'relative': inputType === 'password'}">
    <input
      [id]="controlName"
      [type]="inputType === 'password' && passwordVisible ? 'text' : inputType"
      [formControlName]="controlName"
      [attr.disabled]="inputDisabled ? '' : null"
      [placeholder]="placeholder"
      [disabled]="inputDisabled"
      class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
      [ngClass]="{
        'border-red-300 text-red-900 placeholder-red-300 focus:ring-red-500 focus:border-red-500': hasError,
        'focus:ring-indigo-500 focus:border-indigo-500': !hasError,
        'opacity-50 cursor-not-allowed': inputDisabled,
        'pr-10': inputType === 'password',
        'rounded-full': rounded
      }"
      (keyup)="emitKeyUp($event)"
    >
    <div
      *ngIf="inputType === 'password'"
      class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer text-gray-400"
      [ngClass]="{'text-red-500': hasError}"
      (click)="passwordVisible = !passwordVisible"
    >
      <hero-icon *ngIf="passwordVisible" name="eye-off" size="1.25rem"></hero-icon>
      <hero-icon *ngIf="!passwordVisible" name="eye" size="1.25rem"></hero-icon>
    </div>
  </div>
</div>


