<div class="flex flex-col flex-grow justify-center py-5 md:py-10 px-6 xl:px-0">
  <!--Top text-->
  <div class="flex justify-center mb-6">
    <div class="w-full max-w-6xl">
      <div class="justify-start">
        <button appSecondaryButton class="mb-5" [size]="buttonSize.lg" (click)="router.navigateByUrl('account')">
          <hero-icon name="arrow-left" size="1rem" class="mr-1"></hero-icon>
          Retour
        </button>
      </div>
      <div class="mb-6">
        <h1>Mot de passe</h1>
        <span class="italic text-lg">Modifier le mot de passe</span>
      </div>
      <form [formGroup]="passwordForm" class="w-full lg:max-w-2xl">
        <div class="flex flex-col">
          <div class="mb-4">
            <app-custom-input
              inputType="password"
              controlName="oldPassword"
              label="Ancien mot de passe"
              [hasError]="getFormControl('oldPassword').invalid && !getFormControl('oldPassword').pristine"
            >
            </app-custom-input>
            <app-custom-input-error *ngIf="getFormControl('oldPassword').errors?.required && !getFormControl('oldPassword').pristine">Ce champ est requis</app-custom-input-error>
          </div>
          <div class="mb-4">
            <app-custom-input
              inputType="password"
              controlName="newPassword"
              label="Nouveau mot de passe"
              [hasError]="getFormControl('newPassword').invalid && !getFormControl('newPassword').pristine"
            >
            </app-custom-input>
            <app-custom-input-error *ngIf="getFormControl('newPassword').errors?.required && !getFormControl('newPassword').pristine">Ce champ est requis</app-custom-input-error>
          </div>
          <div class="mb-4">
            <app-custom-input
              inputType="password"
              controlName="newPasswordConfirm"
              label="Confirmation du nouveau mot de passe"
              [hasError]="getFormControl('newPasswordConfirm').invalid && !getFormControl('newPasswordConfirm').pristine"
            >
            </app-custom-input>
            <app-custom-input-error *ngIf="getFormControl('newPasswordConfirm').errors?.required && !getFormControl('newPasswordConfirm').pristine">Ce champ est requis</app-custom-input-error>
            <app-custom-input-error *ngIf="getFormControl('newPasswordConfirm').errors?.mustMatch && !getFormControl('newPasswordConfirm').pristine">Les mots de passe ne correspondent pas</app-custom-input-error>
          </div>
        </div>
        <div class="flex flex-col mt-6">
          <button appBaseButton [size]="buttonSize.lg" [isDisabled]="passwordForm.invalid" (click)="updatePassword()">
            Valider
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
